In [1]:
import pandas as pd

In [2]:
temperatura = pd.read_excel('../data/AEMET_temperature_data_2014-2020.xlsx', parse_dates=[0])

In [3]:
temperatura

     Unnamed: 0    T (ºC)
0    2014-01-01  11.48750
1    2014-01-02  13.08750
2    2014-01-03  14.43125
3    2014-01-04  11.98125
4    2014-01-05  10.94375
...         ...       ...
2552 2020-12-27   6.55625
2553 2020-12-28   8.61875
2554 2020-12-29   7.54375
2555 2020-12-30   7.00000
2556 2020-12-31   7.01250

[2557 rows x 2 columns]

In [5]:
temperatura.rename(columns={'Unnamed: 0': 'date', 'T (ºC)': 'Temperature'}, inplace=True)
temperatura.set_index('date',inplace=True)
temperatura.head()

            Temperature
date
2014-01-01     11.48750
2014-01-02     13.08750
2014-01-03     14.43125
2014-01-04     11.98125
2014-01-05     10.94375